node_modules
.vitepress/cache
.vitepress/dist
.vitepress/.temp

# Ignore dynamically built web-client docs
build/web-client/reference
build/web-client/.version

# Ignore dynamically built RPC spec docs
build/set-up-your-own-node/rpc-docs/.version
build/set-up-your-own-node/rpc-docs/methods.md

components.d.ts
