node_modules
.vitepress/cache
.vitepress/dist

# Ignore dynamically built web-client docs
build/web-client

# Ignore dynamically built RPC spec docs
build/rpc-docs/_version
build/rpc-docs/methods.md
build/rpc-docs/schemas.md

components.d.ts
