/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 * 
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attched to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-gold-1);
  --vp-c-warning-2: var(--vp-c-gold-2);
  --vp-c-warning-3: var(--vp-c-gold-3);
  --vp-c-warning-soft: var(--vp-c-gold-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}


/**
 * Custom CSS
 * -------------------------------------------------------------------------- */
:root {
  --colors-gray: #f8f8f8;
  --colors-lightgray: #fbfbfb;
  --colors-white: white;

  --colors-darkblue: #1f2348;
  --colors-darkblue-6: #ededf0;
  --colors-darkblue-10: #e9e9ed;
  --colors-darkblue-15: #cdcdd5;
  --colors-darkblue-20: #d2d3da;
  --colors-darkblue-25: #c7c8d1;
  --colors-darkblue-30: #bcbdc8;
  --colors-darkblue-40: #a5a7b6;
  --colors-darkblue-50: #8f91a3;
  --colors-darkblue-60: #797b91;
  --colors-darkblue-80: #4c4f6d;
  --colors-darkblue-90: #35395a;
  --colors-darkblue-94: #2c3053;

  --colors-blue: #0582ca;
  --colors-blue-10: #e6f3fa;
  --colors-blue-60: #69b4df;

  --colors-darkblue-900: #0d102c;
  --colors-darkblue-1000: #12163c;

  --colors-gold: #E9B213;

  --vp-c-brand-1: var(--colors-darkblue);
  --vp-c-bg-soft: var(--colors-darkblue-6);

  --vp-backdrop-bg-color: rgba(31, 35, 72, 0.6);
  
  
  &.dark {
    --vp-c-bg: var(--colors-darkblue-1000);
    --vp-c-bg-soft: var(--colors-darkblue);
    --vp-c-bg-elv: var(--colors-darkblue);
    --vp-c-divider: var(--colors-darkblue-80);
    --vp-c-neutral-inverse: var(--colors-darkblue-80);
    --vp-input-switch-color: var(--colors-darkblue);
    --vp-sidebar-bg-color: var(--colors-darkblue-1000);
    --vp-c-brand-1: var(--colors-gold);
    --vp-c-bg-soft: var(--colors-darkblue-900);
    --vp-backdrop-bg-color: rgba(31, 35, 72, 0.7);
  }

  --vp-font-family-base: Mulish,
  ui-sans-serif,
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  Segoe UI,
  Roboto,
  Helvetica Neue,
  Arial,
  Noto Sans,
  sans-serif,
  Apple Color Emoji,
  Segoe UI Emoji,
  Segoe UI Symbol,
  Noto Color Emoji;
  --vp-font-family-mono: 'Fira Code',
  ui-monospace,
  SFMono-Regular,
  'SF Mono',
  Menlo,
  Monaco,
  Consolas,
  'Liberation Mono',
  'Courier New',
  monospace;

  --vp-sidebar-width: 300px;
  --vp-sidebar-bg-color: var(--colors-lightgray);
  --vp-c-bg: var(--colors-lightgray);
}

:is(h1, h2, h3, h4) {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  &:empty {
    display: none; /* Hide empty paragraphs. This is mostly for the markdown */
  }
}

h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 1.2;
  max-width: 520px;
  color: var(--colors-darkblue);

  @media (max-width: 768px) {
    font-size: 32px;
  }

  .dark & {
    color: var(--colors-white);
  }

  &.title {
    margin: 0 auto;
  }
}

h2 {
  font-size: 40px;
  max-width: 520px;
  line-height: 52px;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 31.2px;

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 22px;
  }


}

.vp-raw :is(h1, h2)+p {
  font-size: 24px;
  margin-top: 24px;
  line-height: 1.5;
  color: var(--colors-darkblue-60);
  max-width: 520px;
}

.medium-zoom-overlay {
  z-index: 20000;
}

.medium-zoom-image {
  z-index: 20001;
}


/**
 * Header CSS
 * -------------------------------------------------------------------------- */
.VPNavBar {
  padding: 0 !important;
  --vp-c-gutter: var(--colors-darkblue-10);


  .dark & {
    --vp-c-gutter: var(--colors-darkblue-94);
  }

  >.divider {
    display: none;
  }

  >.wrapper {
    border-bottom: 1px solid var(--colors-darkblue-10) !important;
    background-color: var(--colors-lightgray);

    .dark & {
      border-color: var(--colors-darkblue-94) !important;
      background-color: var(--colors-darkblue-1000);
    }

    >.container {
      @media screen and (min-width: 960px) {
        padding: 0 36px;
      }

      >.title {
        display: flex;
        align-items: center;
      }

      >.content {
        >.curtain {
          display: none;
        }

        >.content-body {
          @media screen and (max-width: 760px) {
            right: 16px;
            position: relative;
          }

          background-color: transparent !important;
        }

        .dark & {
          border-color: var(--colors-darkblue-94);
        }

        .search {
          width: 100%;

          @media (max-width: 768px) {
            display: flex;
            justify-content: end;
          }


          #local-search {
            width: 100%;
            max-width: 296px;
            display: flex;
            justify-content: end;

            :is(.dark, html) & button.DocSearch-Button {
              background: transparent;
              height: 34px;

              @media (min-width: 768px) {
                border-radius: 999px;
                border: 1px solid var(--colors-darkblue-10);

                .dark & {
                  border-color: var(--colors-darkblue-90);
                }

                .DocSearch-Button-Keys {
                  margin-left: auto;
                }
              }
            }
          }
        }
      }

      .VPLink {
        :is(&, .VPFlyout>button>span) {
          font-weight: 700;
          opacity: 0.6;
          color: var(--colors-darkblue);

          .dark & {
            color: var(--colors-white);
          }

          &.active {
            opacity: 1;
          }
        }
      }
    }
  }
}

.VPHome {
  padding: 36px;
  padding-top: 96px;
  max-width: calc(var(--vp-layout-max-width) - 64px);
  margin: 0 auto;
}

.custom-block {
  border-radius: 6px;
  padding: 24px;
  padding-bottom: 14px;
  font-size: 16px;

  &>p:first-child {
    margin-bottom: 12px !important;
    --at-apply: label;
  }
}

.btn {
  --uno: border border-base rounded shadow-sm outline-none px-16 py-4 text-gray-600 transition-all bg-base hover-(bg-gray-50 shadow) dark-(border-dark-200 text-gray-300) dark-hover-(border-primary bg-dark-100 text-primary) focus-(shadow outline-none);
}

.btn.small {
  --uno: px-8 py-4 text-12;
}

.scroll {
  background-color: pink !important;
}
.scroll-darkblue::-webkit-scrollbar,
.scroll-gray::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.375rem;
  margin: 2px;
  scrollbar-gutter: stable;
}

.scroll-darkblue::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #4b4b5c60;
  background-clip: padding-box;
  border: 2px transparent solid;
}

.scroll-gray::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #3b4c6a7d;
  background-clip: padding-box;
  border: 2px transparent solid;
}

.scroll-gray::-webkit-scrollbar-track {
  background-color: #3b4c6a33;
}
